$colorBlack: #1a1c1e;
$colorWhite: #fff;
$blue-with-a-hint-of-purple: #4a40c6;
$shisha-coal: #3c3c3c;
$snowflake: #f0f0f0;
$brilliance: #fcfcfd;
$rhine-castle: #5f5f5f;
$whiteout: #fbfbfb;
$brainstem-grey: #b4b4b4;
$brazilianite: #39ca48;
$fiery-salmon: #fa6666;


